footer{
    background-color: rgb(13, 17, 39);
}

.footer__wrapper{
    padding: 1rem 5px;
    max-width: 1240px;
margin: 0 auto;
display: flex;
justify-content: space-between;
div{
    font-size: 18px;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
}